* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ac86bc;
}

.other {
    background-size: 100% 100vh;
}

.title_article {
    padding-top: 85px;
    padding-bottom: 155px;
    font-size: 35px;
    text-align: center;
    color: white;
}

.content {
    width: 60%;
    /* height: 400px; */
    text-align: left;
    margin: -65px auto 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 35px 2px rgba(0, 0, 0, .15), 0 5px 15px rgba(0, 0, 0, .07), 0 2px 5px -5px rgba(0, 0, 0, .1);
}

.article {
    padding: 20px 20px;
}